.price {
  border: 0;
  background-color: white;
}
.jacket_card {
  border: 0;
}
.categories img {
  width: 180px;
  height: 250px;
}
.card-boder {
  border: 0;
}
.header-top {
  background-color: thistle;
}
.navbar li a {
  color: black;
}
